<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Buy Product </title>
	<link rel="stylesheet" href="" th:href="@{/css/BuyProduct.css}" />
</head>

<body>
	<div class="welcome">
		<marquee direction="right" behaviour="slide" scrollamount="15" loop="1">Welcome Back <span
				th:text="${name}"></span>
		</marquee><br />
	</div>

	<form th:action="@{/logout}" method="post" style="display:inline;">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<button type="submit">Logout</button>
	</form>
	<center>

		<form action="" th:action="@{/product/search}" method="post" class="searchInput">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<h1>Product Search :</h1>
			<input type="text" name="productName" required placeholder="Please enter the Product Name....">
			<button type="submit">SEARCH</button><br />
			<smal style="color: red;" th:text="${message}"> </smal>
		</form>

		<div th:if="${product!=null}" class="details">
			<form action="" th:action="@{/product/order}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				ProductName :
				<input type="text" name="productName" th:value="${product.pname}" readonly /><br />
				Product Price :
				<input type="text" th:value="${product.pprice}" readonly /><br />
				Quqntity :
				<input type="number" placeholder="Minimun: 1KG" min="1" name="oQuantity" required /><br />

				<button type="submit">Order_Now</button>
			</form>
		</div>

		<div th:if="${orders!=null}" class="details">
			<h2>Your Orders :</h2>
			<table>
				<tr>

					<th>Product_Name</th>
					<th>Product_Price</th>
					<th>Product_Quantity</th>
					<th>Total_Ammount</th>
					<th>Date</th>
				</tr>
				<tr th:each="order :${orders}">
					<td th:text="${order.oName}"></td>
					<td th:text="${order.oPrice}"></td>
					<td th:text="${order.oQuantity}"></td>
					<td th:text="${order.totalAmmout}"></td>
					<td th:text="${order.orderDate}"></td>

				</tr>
			</table>
		</div>
	</center>
</body>

</html>